<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<h1>SSO IFrame Help</h1>
<p>
The following preferences can be used with the SSO IFrame Portlet in addition to the standard IFrame preferences 
</p>

<table>
<tr>
<th class="portlet-section-body">Preference</th>	
<th class="portlet-section-body">Usage</th>
</tr>
<tr>
<td class='portlet-section-body'>sso.type</td>	
<td class='portlet-section-body'>The type of Single signon authentication. Valid values: form | basic | basic.preemptive | url | url.base64</td>
</tr>
<tr>
<td class='portlet-section-body'>sso.url.Credential</td>	
<td class='portlet-section-body'>The name of the credential input field or parameter</td>
</tr>
<tr>
<td class='portlet-section-body'>sso.url.Principal</td>	
<td class='portlet-section-body'>The name of the user name input field or parameter</td>
</tr>
<tr>
<td class='portlet-section-body'>SSO Principal</td>	
<td class='portlet-section-body'>The actual user name</td>
</tr>
<tr>
<td class='portlet-section-body'>SSO Credential</td>	
<td class='portlet-section-body'>The actual crendential value</td>
</tr>
</table>	

